<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>form</title>
</head>
<body>
    <form th:method="patch" th:action="@{/admin/{id}(id=${user.getId()})}" th:object="${user}">

        <label for="name">Enter name</label>
        <input type="text" th:field="*{name}" id="name"/>

        <label for="surname">Enter surname</label>
        <input type="text" th:field="*{surname}" id="surname"/>

        <label for="age">Enter age</label>
        <input type="text" th:field="*{age}" id="age"/>

        <label for="password">Enter password</label>
        <input type="password" th:field="*{password}" id="password"/>

        <label for="roles"></label>
<!--        <select multiple id="roles">-->
<!--&lt;!&ndash;&lt;!&ndash;            <option value="apple">Apple</option>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;            <option value="banana">Banana</option>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;            <option value="orange">Orange</option>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;            <option value="pear">Pear</option>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;        </select>&ndash;&gt;&ndash;&gt;-->
        <select th:field="${roles}" multiple class="custom-select" id="roles">
            <option th:each="role : ${roles}"
                    th:text="${role.authority}"
                    th:value="${role.id}">
        </select>


        <table>
            <tr>
                <th>Name</th>
                <th>Surname</th>
                <th>Age</th>
            </tr>
            <tr th:each="role : ${roles}">
                <td th:text="${role.id}"></td>
                <td th:text="${role.authority}"></td>
            </tr>
        </table>

        <br/>
        <input type="submit" value="Create"/>
    </form>

</body>
</html>