<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>Hello, user!</h1>

<br><br>
<table>
    <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Age</th>
    </tr>
    <tr>
        <td th:text="${user.name}"></td>
        <td th:text="${user.surname}"></td>
        <td th:text="${user.age}"></td>
<!--        <td><a th:href="@{/admin/{id}/edit(id = ${user.id})}">Update</a></td>-->
<!--        <td><form th:method="delete" th:action="@{/admin/{id}(id = ${user.id})}">-->
<!--            <input type="submit" value="Delete"/>-->
<!--        </form></td>-->
    </tr>
</table>
<br><br>

<br/> <br/> <a href="/admin">Admin sheet</a>
<br><br>

<div th:replace="footer :: content"></div>
</body>
</html>